/*Geral*/
body, html{
    height: 100%;
}

body{
    margin: 0;
    border: 0;
    padding: 0;    
    background-color: rgb(41, 41, 41);
    display: flex;
}

/*Menu Principal*/
.menuPrincipal{
    background-color: rgb(136,120,201,0.6);
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 10%;
}

#logoP{
    width: 70px;
    float: left;
    padding: 0 35px 0 20px;
}

a.menuP:link, a.menuP:visited{
    float: left;
    color:black;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    display: block;
    padding: 25px 18px;
}

a.menuP:hover, a.menuP:active{
    color: rgb(255, 255, 255);
    font-size: 130%;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
}

.contat{
    width: 70px;
    float: right;
    display: block;
    padding: 5px 0 10px 0;
}

/*Menu Lateral*/
.lateral{
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    left: -25%;
    background: rgb(136,120,201,.5);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0 0 10px 0;
    text-align: center;
    transition: all .5s;
}

.check{
    width: 40px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ nav{
    transform: translateX(99%);
}

label{
    position: absolute;
    z-index: 1;
}

.listaMenu{
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding-left: 0px;
}

#logo{
    width: 100%;
    margin-top: 10px;
    align-self: center;
}

a.menuLink:link, a.menuLink:visited{
    color:black;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    display: block;
    padding: 3px 0 3px 0;
}

a.menuLink:hover, a.menuLink:active{
    color: rgb(255, 255, 255);
    font-size: 130%;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
    background-color: rgb(136,120,201,.5);
}

.contatos{
    width: 90%;
    padding: 6px 0;
}

a.conts:link, a.conts:visited {
    background-color: rgb(230, 216, 216);
    border: 2px solid rgb(0, 0, 0);
    padding: 3%;
    display: inline-block;
    border-radius: 10px;
}

a.conts:hover, a.conts:active{
    background-color: aquamarine;
}

/*Geral.Conetudo*/
.principal{
    margin-left: 16%;
    padding-left: 10px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

h1{
    margin-left:150px;
}

/*Estilo*/
.container{
    padding-left: 10px;
}

.padrao{
    width: 100px;
    border-radius: 10px;
}