/*Geral*/
*{
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}

body{
    background-image: linear-gradient(#00000001,#00000063), url(../img/fundo1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}   

/*Menu Principal*/
.container{
    width: 100%;
    padding: 0.5%;
    margin: 0 auto;
    background-color: rgb(136,120,201,.98);
}

.menuPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuPrincipal .logoP{
    font-size: 15px;
    font-style: italic;
    color: rgb(183, 207, 154);
    font-weight: bold;
    display: flex;
    align-items:end;
}

.menuPrincipal .logoP #logoP{
    width: 10vh;
    background-color: rgb(250, 234, 214);
    border-radius: 50%;
}

.menuPrincipal ul{
    list-style: none;
}

.menuPrincipal ul li{
    display: inline-block;
    margin: 1vh;
}

.menuPrincipal ul li a{
    text-decoration: none;
    font-size: 2vh;
    color: black;
}

.menuPrincipal ul li a:hover{
    color: rgb(183, 207, 154);
}

/*Menu Lateral*/
.lateral{
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    left: -25%;
    background: rgb(136,120,201,.5);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0 0 10px 0;
    text-align: center;
    transition: all .5s;
}

.check{
    width: 40px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ nav{
    transform: translateX(99%);
}

label{
    position: absolute;
    z-index: 1;
}

#logoL{
    width: 100%;
    margin-top: 10px;
    align-self: center;
}

.listaMenu{
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding-left: 0px;
}

.listaMenu a{
    color:black;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    display: block;
    padding: 3px 0 3px 0;
}

.listaMenu a:hover{
    color: rgb(255, 255, 255);
    font-size: 130%;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.5);
    background-color: rgb(136,120,201,.5);
}

.contatosLateral{
    width: 90%;
    padding: 6px 0;
}

.contatosLateral .conts{
    background-color: rgb(225, 216, 230);
    border: 2px solid rgb(0, 0, 0);
    padding: 3%;
    display: inline-block;
    border-radius: 10px;
}

.conts:hover{
    background-color: aquamarine;
}

/*Geral.Conteudo*/
.principal{
    margin: 5% auto;
    padding: 3% 2%;
    width: 80%;
    background-color: #faf0ff;
    border-radius: 10%;
}

/*Estilo*/
.container{
    padding-left: 10px;
}

.padrao{
    width: 100px;
    border-radius: 10px;
}

/* Contato*/
.contatosFormu{
    color: #59429d;
}

#tituloFormulario{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;
}

#subtituloFormulario{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 10%;
}

fieldset{
    border: 0;
}

.camposFormulario input, select, textarea, button{
    border-radius: 10px;
}

.camposFormulario{
    margin-bottom: 1em;
}

.camposFormulario label{
    margin-bottom: 0.2em;
    display: block;
}

fieldset .grupoFormu .camposFormulario{
    float: left;
    margin-right: 1em;
}

.camposFormulario input[type="text"], .camposFormulario input[type="email"], .camposFormulario select, .camposFormulario textarea{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
}